<table>
    <thead>
        <tr>
            <td>Signal Strength</td>
            <td>Power Ratio</td>
            <td>Existing</td>
            <td>Proposed</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>11</td>
            <td>~ 20 dBuV/m  -115 dBm</td>
            <td><img src='data:image/png;base64,${existing._11}'></td>
            <td><img src='data:image/png;base64,${proposed._11}'></td>
        </tr>
        <tr>
            <td>10</td>
            <td>~ 30 dBuV/m  -105 dBm</td>
            <td><img src='data:image/png;base64,${existing._10}'></td>
            <td><img src='data:image/png;base64,${proposed._10}'></td>
        </tr>
        <tr>
            <td>9</td>
            <td>~ 40 dBuV/m  -95 dBm</td>
            <td><img src='data:image/png;base64,${existing._9}'></td>
            <td><img src='data:image/png;base64,${proposed._9}'></td>
        </tr>
        <tr>
            <td>8</td>
            <td>~ 50 dBuV/m  -85 dBm</td>
            <td><img src='data:image/png;base64,${existing._8}'></td>
            <td><img src='data:image/png;base64,${proposed._8}'></td>
        </tr>
        <tr>
            <td>7</td>
            <td>~ 60 dBuV/m  -75 dBm</td>
            <td><img src='data:image/png;base64,${existing._7}'></td>
            <td><img src='data:image/png;base64,${proposed._7}'></td>
        </tr>
        <tr>
            <td>6</td>
            <td>~ 70 dBuV/m  -65 dBm</td>
            <td><img src='data:image/png;base64,${existing._6}'></td>
            <td><img src='data:image/png;base64,${proposed._6}'></td>
        </tr>
        <tr>
            <td>5</td>
            <td>~ 80 dBuV/m  -55 dBm</td>
            <td><img src='data:image/png;base64,${existing._5}'></td>
            <td><img src='data:image/png;base64,${proposed._5}'></td>
        </tr>
        <tr>
            <td>4</td>
            <td>~ 90 dBuV/m  -45 dBm</td>
            <td><img src='data:image/png;base64,${existing._4}'></td>
            <td><img src='data:image/png;base64,${proposed._4}'></td>
        </tr>
        <tr>
            <td>3</td>
            <td>~ 100 dBuV/m  -35 dBm</td>
            <td><img src='data:image/png;base64,${existing._3}'></td>
            <td><img src='data:image/png;base64,${proposed._3}'></td>
        </tr>
        <tr>
            <td>2</td>
            <td>~ 110 dBuV/m  -25 dBm</td>
            <td><img src='data:image/png;base64,${existing._2}'></td>
            <td><img src='data:image/png;base64,${proposed._2}'></td>
        </tr>
        <tr>
            <td>1</td>
            <td>~ 120 dBuV/m  -15 dBm</td>
            <td><img src='data:image/png;base64,${existing._1}'></td>
            <td><img src='data:image/png;base64,${proposed._1}'></td>
        </tr>
    </tbody>
</table>
<p>* Some existing tower locations have only 10 signal strength ratios. In this case there is no signal propagation modeling for Signal Strength of 1. An example of this is the Ibapah tower.</p>